
<div class='ui fullscreen basic modal document' id='documentModal'>
  <div class='content'></div>
</div>

<table class='ui documents table'>
  <thead>
    <tr>
      <th>Документи</th>
    </tr>
  </thead>
  <tbody>
    <% documents_in_groups(documents).each do |id, versions| %>
      <% document = versions.pop %>
      <tr>
        <td>
          <span class='muted float-right'>
            <%= tender_document_type(document.document_type) %>
          </span>

          <% if document.title == 'sign.p7s' %>
            <%= link_to 'Електронний цифровий підпис', document.url,
                        target: '_blank' %>
          <% else %>
            <%= link_to document.title, document_preview_path(document),
                        class: 'js-document-link' %>
          <% end %>
          <br/>
          <small class='muted'>
            <%= dt(document.date_modified) %>
          </small>

          <% versions.reverse.each do |version| %>
            <span class='divider'> / </span>

            <del>
              <small class='muted'>
                <%= link_to document_preview_path(version),
                            target: '_blank' do %>
                  <%= dt(version.date_modified) %>
                <% end %>
              </small>
            </del>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
