<table class='ui very padded striped table tenders'>
  <% if @tenders.total_pages > 0 %>
    <thead>
      <tr>
        <th class='seven wide'>Предмет закупівлі</th>
        <th class='two wide center aligned'>Вартість</th>
        <th class='three wide right aligned'>Важливі дати</th>
      </tr>
    </thead>
  <% end %>

  <tbody>
    <% @tenders.each do |t| %>
    <tr data-id='<%= t.id %>'>
      <td class='top aligned'>
        <% if t.status %>
          <div class='ui ribbon label <%= tender_status_class(t.status) %>'>
            <%= tender_status(t.status) %>
          </div>
        <% end %>

        <h3><%= link_to t.title, tender_path(t.tender_id) %></h3>
        <p><%= t.procuring_entity_name %></p>

        <%= link_to tender_path(t.tender_id),
                    class: 'ui basic button' do %>
          Детальніше <i class='right chevron icon'></i>
        <% end %>
      </td>

      <td>
        <% if t.value_amount %>
          <div class='ui mini statistic'>
            <div class='value'>
              <%= amount(t.value_amount, t.value_currency) %>
            </div>
            <div class='label'>
              <%= tax_label(t.value_value_added_tax_included) %>
            </div>
          </div>
        <% end %>
      </td>

      <td class='right aligned'>
        <% if t.enquiry_start_date %>
          <p>
            Оголошено:<br/>
            <span class='muted'>
              <%= dt(t.enquiry_start_date) %>
            </span>
          </p>
        <% end %>

        <% if t.enquiry_end_date %>
          <p>
            Завершення періоду уточнень:<br/>
            <span class='muted'>
              <%= dt(t.enquiry_end_date) %>
            </span>
          </p>
        <% end %>

        <% if t.tender_start_date %>
          <p>
            Прийом пропозицій:<br/>
            <span class='muted'>
              <%= dt(t.tender_start_date) %>
              –
              <%= dt(t.tender_end_date) %>
            </span>
          </p>
        <% end %>

        <% if t.status == 'complete' %>
          <p>
            Завершено:<br/>
            <span class='muted'>
              <%= dt(t.date_modified) %>
            </span>
          </p>
        <% end %>
      </td>
    </tr>
    <% end %>

    <% if @tenders.total_pages == 0 %>
      <tr class='center aligned'>
        <td>Нічого не знайдено</td>
      </tr>
    <% end %>
  </tbody>

  <% if @tenders.total_pages > 1 %>
    <tfoot>
      <tr>
        <th colspan='3'>
          <%= paginate @tenders %>
        </th>
      </tr>
    </tfoot>
  <% end %>
</table>
