<nav class='ui breadcrumb'>
  <%= link_to 'Закупівлі', root_path, class: 'active section' %>
  <small class='float-right muted'>
    Оновлено:
    <%= @date_modified.in_time_zone %>
  </small>
</nav>

<table class='very padded striped ui table '>
  <thead>
    <tr>
      <th class='seven wide'>Предмет закупівлі</th>
      <th class='two wide center aligned'>Вартість</th>
      <th class='three wide right aligned'>Важливі дати</th>
    </tr>
  </thead>

  <tbody>
    <% @tenders.each do |t| %>
    <tr data-id='<%= t.id %>'>
      <td class='top aligned'>
        <% if t.status %>
          <div class='ui ribbon label <%= tender_status_class(t.status) %>'>
            <%= tender_status(t.status) %>
          </div>
        <% end %>

        <h3><%= link_to t.title, tender_path(t.open_procurement_id) %></h3>
        <p><%= t.procuring_entity_name %></p>

        <%= link_to tender_path(t.open_procurement_id),
                    class: 'ui basic button' do %>
          Детальніше <i class='right chevron icon'></i>
        <% end %>
      </td>

      <td>
        <% if t.value_amount %>
          <div class='ui mini statistic'>
            <div class='value'>
              <%= amount(t.value_amount, t.value_currency) %>
            </div>
            <div class='label'>
              <%= tax_label(t.value_value_added_tax_included) %>
            </div>
          </div>
        <% end %>
      </td>

      <td class='right aligned'>
        <% if t.date %>
          <p>
            Оголошено:<br/>
            <span class='muted'>
              <%= dt(t.date) %>
            </span>
          </p>
        <% end %>

        <% if t.enquiry_end_date %>
          <p>
            Завершення періоду уточнень:<br/>
            <span class='muted'>
              <%= dt(t.enquiry_end_date) %>
            </span>
          </p>
        <% end %>

        <% if t.tender_start_date %>
          <p>
            Прийом пропозицій:<br/>
            <span class='muted'>
              <%= dt(t.tender_start_date) %>
              –
              <%= dt(t.tender_end_date) %>
            </span>
          </p>
        <% end %>

        <% if t.status == 'complete' %>
          <p>
            Завершено:<br/>
            <span class='muted'>
              <%= dt(t.date_modified) %>
            </span>
          </p>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th colspan='3'>
        <%= paginate @tenders %>
      </th>
    </tr>
  </tfoot>
</table>
