<nav class='ui breadcrumb'>
  <%= link_to 'Закупівлі', tenders_path, class: 'section' %>
  <div class='divider'> / </div>
  <div class='section active'>
    <%= @tender.tender_id %>
  </div>
  <button class='ui icon button basic mini'
          data-clipboard-text='<%= @tender.tender_id %>'>
    <i class='icon copy'></i>
  </button>
</nav>

<section class='ui two column relaxed grid tender'>
  <div class='ten wide column'>
    <h2><%= @tender.title %></h2>
    <p><%= @tender.description %></p>
    <% if @tender.items.size > 0 %>
      <%= render partial: 'items', locals: { items: @tender.items } %>
    <% end %>
    <%= render partial: 'documents', locals: { documents: @tender.documents } %>
  </div>

  <aside class='right six wide column'>
    <div class='ui fluid card'>
      <div class='content'>
        <div class='ui ribbon label <%= tender_status_class(@tender.status) %>'>
          <%= tender_status(@tender.status) %>
        </div>

        <div class='ui small statistic'>
          <div class='value'>
            <%= amount(@tender.value_amount, @tender.value_currency) %>
          </div>
          <div class='label'>
            <%= tax_label(@tender.value_value_added_tax_included) %>
          </div>
        </div>

        <div class='ui three basic buttons'>
          <%= link_to 'JSON', tender_bundle_path(@tender.open_procurement_id),
                              class: 'ui button small',
                              role: 'button',
                              target: '_blank' %>

          <%= link_to 'Prom.ua', tender_promua_path(@tender.open_procurement_id),
                              class: 'ui button small',
                              role: 'button',
                              target: '_blank' %>

          <%= link_to 'Prozorro', tender_prozorro_path(@tender.tender_id),
                              class: 'ui button small',
                              role: 'button',
                              target: '_blank' %>
        </div>
      </div>
    </div>

    <div class='ui fluid card'>
      <%= render partial: 'company' %>
    </div>
  </aside>
</section>
