<%= render partial: 'search' %>

<table class='ui very padded striped table companies'>
  <tbody>
    <% @companies.each do |c| %>
    <tr>
      <td>
        <%= link_to c.name, company_path(c.company_id) %><br/>
        <small class='muted'><%= c.scheme %> <%= c.company_id %></small>
      </td>
    </tr>
    <% end %>

    <% if @companies.total_pages == 0 %>
      <tr class='center aligned'>
        <td>Нічого не знайдено</td>
      </tr>
    <% end %>
  </tbody>

  <% if @companies.total_pages > 1 %>
    <tfoot>
      <tr>
        <th colspan='3'>
          <%= paginate @companies %>
        </td>
      </tr>
    </tfoot>
  <% end %>
</table>
