<nav class='ui breadcrumb'>
  <%= link_to 'Компанії', companies_path, class: 'section' %>

  <div class='divider'> / </div>

  <div class='section active'>
    <%= @company.scheme %> <%= @company.company_id %>
  </div>

  <button class='ui icon button basic mini'
          data-clipboard-text='<%= @company.company_id %>'>
    <i class='icon copy'></i>
  </button>
</nav>

<p>
  <%= @company.name %><br/>

  <ul>
  <% @company.tenders.each do |t| %>
    <li><%= link_to t.title, tender_path(t.tender_id) %></li>
  <% end %>
  </ul>

  <ul>
  <% @company.contacts.each do |c| %>
    <li><%= c.name %></li>
  <% end %>
  </ul>
</p>
