<% if page.current? %>
  <a class="item page active" href="<%= url %>" title="<%= t('views.pagination.page.current') %> <%= page %>">
    <%= page %>
  </a>
<% else %>
  <a class="item page" href="<%= url %>" title="<%= t('views.pagination.page.goto') %> <%= page %>">
    <%= page %>
  </a>
<% end %>
