<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>OpenUA Online</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'  %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class='section-<%= @section %>'>
  <section class='ui container'>
    <aside class='ui right aligned basic segment'>
      <small class='muted'>Оновлено: <%= @date_modified.in_time_zone %></small>
    </aside>
    <nav class='ui menu'>
      <%= link_to 'Головна',
                  root_path,
                  class: "item#{ ' active' if @section == 'home' }" %>

      <%= link_to 'Закупівлі',
                  tenders_path,
                  class: "item#{ ' active' if @section == 'tenders' }" %>

      <%= link_to 'Компанії',
                  companies_path,
                  class: "item#{ ' active' if @section == 'companies' }" %>
    </nav>
    <%= yield %>
  </section>
</body>
</html>
