<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>OpenUA Online</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'  %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <section class='ui container'>
    <aside class='ui right aligned basic segment'>
      <small class='muted'>Оновлено: <%= @date_modified.in_time_zone %></small>
    </aside>
    <nav class='ui menu'>
      <div class='header item'>
        OpenUA Online
      </div>
      <%= link_to 'Закупівлі', root_path, class: 'item' %>
      <%= link_to 'Компанії', companies_path, class: 'item' %>
    </nav>

    <%= yield %>
  </section>
</body>
</html>
